<aside class="ls-sidebar">

  <div class="ls-sidebar-inner">
    <a href="/locawebstyle/documentacao/exemplos//pre-painel"  class="ls-go-prev"><span class="ls-text">Voltar à lista de serviços</span></a>

    <nav class="ls-menu">
      <ul>
        <% if seller_signed_in?%>
          <li> <%= link_to t(:new_sale), root_path, html_options = {class: 'ls-ico-target' } %></li>
          <% if current_seller.admin? %>
            <li><%= link_to t(:new_seller),  new_seller_path, html_options = {class: 'ls-ico-user-add' } %></li>
            <li> <%= link_to t(:pending_sale), pending_orders_path, html_options = { class: 'ls-ico-origins'} %> </li>
          <% end %>
          <li> <%= link_to t(:customers), customers_path, html_options = {class: 'ls-ico-users' } %></li>
          <li> <%= link_to t(:sales), orders_path, html_options = { class: 'ls-ico-cart'} %> </li>
          <li> <%= link_to t(:exit), destroy_seller_session_path, html_options = { method: :delete, data: { confirm: t(:confirm_exit)}, class: 'ls-ico-cancel-circle'}%><li>
        <% end %>
      </ul>
    </nav>
  </div>
</aside>
