<table class='ls-table'>
  <thead>
    <tr>
      <th> <%= t :customer_name %> </th>
      <th>CPF/CNPJ</th>
      <th>  <%= t :phone %> </th>
      <th colspan="2"> <%= t :person %> </th>
    <tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.name, customer_path(customer) %></td>

        <% if customer.cpf.blank? %>
          <td><%= customer.cnpj %></td>
        <% else %>
          <td><%= customer.cpf %></td>
        <% end %>

        <% if customer.phone.blank? %>
          <td><%= customer.contact %></td>
        <% else %>
          <td><%= customer.phone %></td>
        <% end %>

        <% if customer.legal_person? %>
          <td> <%= t(:legal_person) %> </td>
        <% else %>
          <td> <%= t(:company_person) %> </td>
        <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<p><%= link_to t(:new_customer), new_customer_path, class:'ls-btn-primary' %>
<%= link_to t(:back), root_path , class:'ls-btn'%></p>
