<%= render 'headbar' %> 
<div class='ls-box'>
<h3 class="ls-title-3"><%= @customer.name %></h3>
<br>
<p><b>Endereço:</b> <%= @customer.address %> <p>
  <% if @customer.cpf == "" || @customer.cpf.nil?%>
    <p><b>Nome da Companhia:</b> <%= @customer.company_name %> <p>
    <p><b>CNPJ:</b> <%= @customer.cnpj %></p>
  <% else %>
    <p><b>CPF:</b> <%= @customer.cpf %></p>
    <p><b>Data de nascimento:</b> <%= l @customer.birth_date %> <p>
  <% end %>
<p><b>Email:</b> <%= @customer.email %> <p>
<p><b>Telefone:</b> <%= @customer.phone%><%= @customer.contact %><p>
</div>
<p><%= link_to 'Editar', edit_customer_path , class:'ls-btn-primary'%>
<%= link_to 'Voltar', root_path , class:'ls-btn'%>
<%= link_to 'Nova Venda', new_customer_order_path(@customer), class:'ls-btn-primary'%></p>
