<%= render 'headbar' %>
<div class='ls-box'>
<h5 class="ls-title-3">Pedido</h5>
<br>
<p><b>Categoria: </b><%= session[:category_name] %></p>
<p><b>Produto: </b><%= session[:product_name] %></p>
<p><b>Plano: </b><%= session[:plan_name] %></p>
<p><b>Periodicidade: </b><%= session[:price_name] %></p>
</div>
<%= button_to 'Confirmar', customer_order_confirm_path(@order), class:'ls-btn-primary'%>
