<%= render 'headbar' %>
<p class="ls-alert-info"><%= flash[:created] %></p>
<div class='ls-box'>
<h5 class="ls-title-3"> <%= t(:order_placed) %> </h5>
<br>
<p><b> <%= t(:category) %>: </b><%= session[:category_name] %></p>
<p><b> <%= t(:product) %>: </b><%= session[:product_name] %></p>
<p><b> <%= t(:plan) %>: </b><%= session[:plan_name] %></p>
<p><b> <%= t(:periodicity) %>: </b><%= session[:price_name] %></p>
</div>
<p><%= link_to t(:new_sale), root_path , class:'ls-btn'%></p>
