<%= render 'headbar' %>
<h1>Novo pedido</h1>
<br>
<h3>Selecione a periodicidade</h3>
<br>
<ol class="ls-breadcrumb">
  <li>Categoria: <%= session[:category_name] %></li>
  <li>Produto: <%= session[:product_name] %></li>
  <li>Plano: <%= session[:plan_name] %></li>
</ol>
<br>
<% @prices.each do |price| %>
  <div class="ls-list">
    <header class="ls-list-header">
      <div class="ls-list-title col-md-9">
        <%= link_to price.name, customer_order_price_path([@customer, @order],
                    value: price.value, periodicity_id: price.per.period,
                    price_name: price.name), method: :post  %>
      </div>
    </header>
  </div>
<% end %>
