<%= render 'headbar' %>
<h1>Novo pedido</h1>

<%= form_for @order do |f| %>
<div class="">
  <%= f.label :category_id, 'Categoria' %>
  <%= f.collection_select :category_id, @categories, :id , :name, {} %>
</div>
<div class="">
  <%= f.submit 'Criar pedido' %>
</div>
<% end %>

<p><%= link_to 'Voltar', root_path , class:'ls-btn'%></p>
