<h1 class="ls-title-intro ls-ico-origins"> <%= t(:pending_sale) %> </h1>
<table class='ls-table'>
  <thead>
    <tr>
      <th> <%= t(:order_id) %>  </th>
      <th> <%= t(:product) %> </th>
      <th> <%= t(:customer) %> </th>
      <th> <%= t(:order_value) %> </th>
      <th> <%= t(:seller_name) %> </th>
    <tr>
  </thead>
  <tbody>
  <% @orders.each do |order|%>
    <tr>
      <td><%= link_to order.id, customer_order_path(order.customer_id, order) %></td>
      <td> <%= order.product_name %></td>
      <td> <%= order.customer.name %></td>
      <% if order.value %>
        <td> R$ <%= format("%.2f", order.value) %></td>
      <% else %>
        <td> R$ 00.00 %></td>
      <% end %>
      <td> <%= order.seller.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<p><%= link_to t(:back), root_path , class:'ls-btn'%></p>
