<%= render 'shared/headbar' %>
<h1> <%= t(:new_order) %> </h1>
<br>
<h3> <%= t(:select_product) %> </h3>
<br>
<ol class="ls-breadcrumb">
  <li> <%= t(:category) %>: <%= session[:category_name] %></a></li>
</ol>
<br>
<% @products.each do |prod| %>
  <div class="ls-list">
    <header class="ls-list-header">
      <div class="ls-list-title col-md-9">
        <%= link_to prod.name,
            customer_order_product_path(id: prod.id,
                                        product_id: prod.id,
                                        product_name: prod.name), method: :patch %>
        <small><%= prod.description %> </small>
      </div>
    </header>
  </div>
<% end %>

<p> <%= link_to t(:cancel_sale),[@customer, @order],
        method: :delete,
        data: { confirm: t(:are_you_sure)},
        class:'ls-btn-primary-danger' %> </p>
