<%= render 'shared/headbar' %>
<h1> <%= t(:new_order) %> </h1>
<br>
<h3> <%= t(:select_plan) %></h3>
<br>
<ol class="ls-breadcrumb">
  <li> <%= t(:category) %>: <%= session[:category_name] %></li>
  <li> <%= t(:product) %>: <%= session[:product_name] %></li>
</ol>
<br>
<% @plans.each do |plan|  %>
  <div class="ls-list">
    <header class="ls-list-header">
      <div class="ls-list-title col-md-9">
        <%= link_to plan.name,
            customer_order_plan_path(id: plan.id, plan_id: plan.id,
                                     plan_name: plan.name ), method: :patch %>
        <small><%= plan.description %> </small>
      </div>
    </header>
  </div>
<% end %>

<p> <%= link_to t(:cancel_sale),[@customer, @order],
        method: :delete,
        data: { confirm: t(:are_you_sure)},
        class:'ls-btn-primary-danger' %> </p>
