<!DOCTYPE html>
<html class="ls-theme-green">
<head>
  <title>VendasLocaweb</title>

  <%= stylesheet_link_tag   "//assets.locaweb.com.br/locastyle/3.8.2/stylesheets/locastyle.css",  "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "layouts/shared/topbar" %>

  <%= render "layouts/shared/sidebar" %>

  <main class="ls-main ">
    <div class="container-fluid">
      <h1 class="ls-title-intro ls-ico-home">Página inicial</h1>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </main>

  <%= render "layouts/shared/sidebar_notifications" %>

  <!-- We recommended use jQuery 1.10 or up -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <%= javascript_include_tag "application", "//assets.locaweb.com.br/locastyle/3.8.2/javascripts/locastyle.js" %>
</body>
</html>
